<h1>Your notes here, {{user}}</h1>

{% if notes_list %}
    <ul>
    {% for note in notes_list %}
        <li>
            <form action="/notes/delete/{{note.id}}" method="POST">
                {% csrf_token %}

                {{note.text}}

                <input type="submit" value="Delete!"">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no notes :(</p>
{% endif %}

<h2>Add a note</h2>

<form action="/notes/add/" method="POST">
    {% csrf_token %}

    <input type="text" name="note">
    <input type="hidden" name="user" value="{{user}}">
    <input type="submit" value="Add">    
</form>

<h2>Filter notes</h2>

<form action="/notes/filter/" method="GET">
    {% csrf_token %}

    <input type="text" name="filter_word">
    <input type="submit" value="Filter">    
</form>

<form action='/notes/logout/' method="POST">
    {% csrf_token %}
    Logged in as {{user}}
    <input type="submit" value="Logout"/>
</form>
